<div class="container">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        aria-describedby="emailHelp"
      />
      <span *ngIf="form.get('name')?.value | validation : 'name'; else loading">
        Name is valid
      </span>
      <ng-template #loading>Enter the Name</ng-template>
    </div>
    <div class="mb-3">
      <label for="number" id="number" class="form-label">Number</label>
      <input
        maxlength="10"
        type="text"
        class="form-control"
        formControlName="number"
      />
      <span
        *ngIf="form.get('number')?.value | validation : 'number'; else loading1"
      >
        Number is valid
      </span>
      <ng-template #loading1>Enter the Number</ng-template>
    </div>
    <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
<!-- {{ show() }} -->
